

.item__list {

  .zero__length {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */


    /* Black */

    color: #243656;

    opacity: 0.5;

    text-align: center;
    margin: 50px;
  }
}
