<ion-header collapse="fade">
	<ion-toolbar>
		<ion-button slot="start" [fill]="'clear'" class="back-button-wrapper" (click)="close(null)">
			<app-custom-icon [icon]="'back-button'"></app-custom-icon>
		</ion-button>
		<ion-title>Header</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen="true">

	<section class="form__wrapper">
		<form [formGroup]="formGroup">
			<ng-container *ngFor="let field of fields">
				<app-input *ngIf="field.type !== 'date'"
						   [formGroup]="formGroup"
						   [field]="field"></app-input>
				<app-date-field *ngIf="field.type === 'date'"
								[field]="field"
								[formGroup]="formGroup"></app-date-field>
			</ng-container>

			<ion-button (click)="submit($event)" disabled="{{formGroup.invalid}}">Сохранить</ion-button>
		</form>
	</section>

</ion-content>
