<ion-header collapse="fade">
	<ion-toolbar>
		<ion-button slot="start" [fill]="'clear'" class="back-button-wrapper" (click)="close(null)">
			<app-custom-icon [icon]="'back-button'"></app-custom-icon>
		</ion-button>
		<ion-title>Header</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen="true">

	<section class="form__wrapper tui-container tui-container_fullwidth">
		<form [formGroup]="formGroup">
			<div class="tui-row tui-row_adaptive">
				<div class="tui-col_xs-12">
					<div class="tui-form__row tui-row_adaptive">
						<ng-container *ngFor="let field of fields">
							<app-input *ngIf="field.type === 'text' || field.type === 'number'"
									   [formGroup]="formGroup"
									   [field]="field"></app-input>
							<app-date-field *ngIf="field.type === 'date'"
											[formGroup]="formGroup"
											[field]="field"></app-date-field>
							<app-select-field *ngIf="field.type === 'select'"
											  [formGroup]="formGroup"
											  [field]="field"></app-select-field>

						</ng-container>
					</div>
				</div>
			</div>
			<!--			<ng-container *ngFor="let field of fields">-->
			<!--				<app-input *ngIf="field.type !== 'date'"-->
			<!--						   [formGroup]="formGroup"-->
			<!--						   [field]="field"></app-input>-->
			<!--				<app-date-field *ngIf="field.type === 'date'"-->
			<!--								[field]="field"-->
			<!--								[formGroup]="formGroup"></app-date-field>-->
			<!--			</ng-container>-->

			<button tuiButton (click)="submit($event)" [disabled]="formGroup.invalid">Сохранить</button>
		</form>
	</section>
</ion-content>
<tui-root class="z11"></tui-root>

