<ion-content>
  <app-main-content>
    <app-list-header [title]="'Абонентские платежи'"
                     [mainHeader]="true" [buttonTitle]="'Добавить'"
                     (buttonClick)="addItem('default')"></app-list-header>
    <app-list [list]="list.list" *ngFor="let list of lists | async">
      <app-list-header [title]="list.title"
                       [mainHeader]="false"
                       [buttonTitle]="'Добавить'"
                       [total]="calcTotal(list.list) | currency:'RUB':'symbol-narrow':'.2-2':'ru'"
                       (buttonClick)="addItem(list.id)"></app-list-header>
    </app-list>
  </app-main-content>
</ion-content>
